<form asp-action="GirisYap" asp-controller="Login" method="post">
    <p>Kullanıcı Adı</p>
    <input type="text" class="name" name="Kullanici" required="" />
    <p>Şifre</p>
    <input type="password" class="password" name="Sifre" required="" />
    <label class="anim">
        <input type="checkbox" class="checkbox" />
        <span>Beni Hatırla ?</span>
    </label>
    <br />
    <input type="submit" value="Login" />


</form>

